# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# OS files
.DS_Store
Thumbs.db

# Logs and backups
*.log
*.bak
*.tmp
*.swp

# Token/secrets
.env

# Pip/PyPi
*.egg-info/
dist/
build/
*.egg
.Python
pip-log.txt
pip-delete-this-directory.txt

# Coverage/testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/

# Jupyter
.ipynb_checkpoints

# PyCharm
# .idea/

# Static analysis
.mypy_cache/
.pytype/
.ruff_cache/
.pyre/

# PDM/Poetry/Pipenv
Pipfile.lock
poetry.lock
.pdm.toml
.pdm-python
.pdm-build/

# PyInstaller
*.spec

# Django/Flask
local_settings.py
instance/
.webassets-cache

# mkdocs
/site

# Misc
.python-version
__pypackages__/
cython_debug/
